@model PagedList.PagedList<Pagoda.Models.Donation>

@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "Danh Sách Công Đức";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
    </ul>
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Quản Lý Công Đức</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Trang Chủ</a></li>
                    <li class="breadcrumb-item active">@ViewBag.Title</li>
                </ol>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-sm-8">
                <form class="form-inline">
                    @using (Html.BeginForm("Index", "Donation", FormMethod.Get))
                    {
                        @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @id = "Search", placeholder = "Nhập họ tên hoặc pháp danh cần tìm kiếm ...", @style = "max-width: 500px; width: 60%" })
                        <button class="btn btn-info ml-1" type="submit">Tìm kiếm</button>
                    }
                </form>
            </div>
            <div align="right" class="col-sm-4">
                <button class="btn mr-1" style="float: right; background-color: #CD853F; color: white" type="button" onclick="window.location.href='/Donation'">Làm Mới Danh Sách</button>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

@if (TempData["Message"] != null)
{
    <div class="alert alert-default-info" style="margin-left: 8px; margin-right: 8px">
        @TempData["Message"]
        <button type="button" class="close" data-dismiss="alert">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="25" style="vertical-align: unset" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                </svg>
            </span>
        </button>
    </div>
}

<div id="OpenDilog">

</div>

<section class="content">
    <!-- Default box -->
    <div class="card">
        <div class="card-header" style="position: relative;">
            <h3 class="card-title" style="position: absolute; top: 35%;">@ViewBag.Title</h3>

            <div class="card-tools d-flex">
                <a href="#" class="btn mr-1" style="background-color: #000066; color: white" onclick="CreateDonation()">
                    Thêm Mới
                </a>
                @if (Session["MaNhomSession"].ToString() == "1")
                {

                <input type="submit" id="btnDeleteAll" class="btn btn-danger" value="Xóa Tất Cả" />
                }

            </div>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        @if (Session["MaNhomSession"].ToString() == "1")
                        {

                        <th style="text-align: center"><input type="checkbox" id="SelectAll" class="cbkSelectAll" /></th>
                        }


                        <th style="text-align: center">STT</th>
                        <th style="text-align: center">
                            <a class="text-dark" href="@Url.Action("Index", "Donation", new { sortOrder = ViewBag.FullNameSort, currentFilter = ViewBag.CurrentFilter })">
                                Họ Tên
                                <svg xmlns="http://www.w3.org/2000/svg" style="vertical-align: unset; padding-top: 5px" width="12" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />
                                </svg>
                            </a>
                        </th>

                        <th style="text-align: center">
                            <a class="text-dark" href="@Url.Action("Index", "Donation", new { sortOrder = ViewBag.AgeSort, currentFilter = ViewBag.CurrentFilter })">
                                Tuổi
                                <svg xmlns="http://www.w3.org/2000/svg" style="vertical-align: unset; padding-top: 5px" width="12" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />
                                </svg>
                            </a>
                        </th>

                        <th style="text-align: center">Địa Chỉ</th>
                        <th style="text-align: center">Hành Động</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        var i = 1;
                        foreach (var item in Model)
                        {
                            <tr id="trow_@item.DonationID" class="Search">
                                @if (Session["MaNhomSession"].ToString() == "1")
                                {

                                <td style="text-align: center"><input type="checkbox" class="cbkItem" value="@item.DonationID" /></td>
                                }


                                <td style="text-align: center">@i</td>
                                <td style="text-align: center">@item.FullName</td>
                                <td style="text-align: center">@item.Age</td>
                                <td style="text-align: center">
                                    @item.Address
                                <td style="text-align: center">
                                    <a href="#" class="btn btn-sm btn-success" onclick="EditDonation('@item.DonationID')">
                                        Chỉnh Sửa
                                    </a>
                                    <button class="expand-btn expandable-btn btn btn-sm btn-danger" data-toggle="modal" data-target="#exampleModal_@item.DonationID">
                                        Chi Tiết
                                    </button>
                                    @Html.ActionLink("Bằng Công Đức", "PrintEP", new { DonationID = item.DonationID }, new { @class = "btn btn-sm disabled", @style = "background-color: #528B8B; border-color: #528B8B; color: white;" })
                                    @if (Session["MaNhomSession"].ToString() == "1")
                                    {

                                    @Html.ActionLink("Xóa", "Delete", new { DonationID = item.DonationID }, new { @class = "btn btn-sm btn-warning", onclick = "return confirm('Bạn có chắc chắn muốn xóa không?');" })
                                    }

                                </td>
                            </tr>
                            <tr class="expandable-row">
                                <div class="modal fade" id="exampleModal_@item.DonationID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">@item.FullName</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <b>Họ Tên</b>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <b>:</b>
                                                    </div>
                                                    <div class="col-md-7">
                                                        @item.FullName
                                                    </div>
                                                </div>
                                                <hr />

                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <b>Tuổi</b>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <b>:</b>
                                                    </div>
                                                    <div class="col-md-7">
                                                        @item.Age
                                                    </div>
                                                </div>
                                                <hr />

                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <b>Năm Sinh</b>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <b>:</b>
                                                    </div>
                                                    <div class="col-md-7">
                                                        @item.YearUser
                                                    </div>
                                                </div>
                                                <hr />

                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <b>Tịnh Tài</b>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <b>:</b>
                                                    </div>
                                                    <div class="col-md-7">
                                                        @Pagoda.Models.Common.FormatNumber(item.Asset) đồng
                                                    </div>
                                                </div>
                                                <hr />
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <b>Tịnh Vật</b>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <b>:</b>
                                                    </div>
                                                    <div class="col-md-7">
                                                        @item.Thing
                                                    </div>
                                                </div>
                                                <hr />

                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <b>Địa Chỉ</b>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <b>:</b>
                                                    </div>
                                                    <div class="col-md-7">
                                                        @item.Address
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tr>

                            i++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="12">Không có bản ghi nào!!!</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="row text-center">
                <div class="col-12">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </div>
            </div>

        </div>
    </div>
</section>

<style>
    .my-dialog-class {
        width: 700px !important;
        height: 240px;
        background-color: #fefefe !important;
        margin: auto !important;
        padding: 20px !important;
        border: 1px solid #888 !important;
        box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.12), 0 8px 8px rgba(0,0,0,0.12), 0 16px 16px rgba(0,0,0,0.12) !important;
        border-radius: 10px !important;
    }

    .ui-dialog {
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
    }


    .ui-widget-header {
        background: none !important;
        padding: 0 !important;
        border: none !important;
    }

    .ui-button {
        background: none !important;
        border: none !important;
    }
</style>

<link href="@Url.Content("~/Content/Clients/plugins/jquery-ui/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Content/Clients/plugins/jquery-ui/jquery-ui.min.js")" type="text/javascript"></script>
<script src="~/Scripts/jquery-3.6.4.min.js"></script>

<script type="text/javascript">
    function EditDonation(DonationID) {
        var div = $("#OpenDilog");
        div.load("/Donation/Edit?DonationID=" + DonationID, function () {
            div.dialog({
                modal: true,
                dialogClass: "my-dialog-class",
                title: "Chỉnh Sửa Hồ Sơ",
                position: 'center',
                show: { effect: 'fade', duration: 400 },
                resizable: false
            });
        });
    }

    function CreateDonation() {
        var div = $("#OpenDilog");
        div.load("/Donation/Create", function () {
            div.dialog({
                modal: true,
                title: "Thêm Mới Hồ Sơ",
                resizable: false,
                dialogClass: "my-dialog-class",
                position: 'center',
                show: { effect: 'fade', duration: 400 }
            });
        });
    }

    $('body').on('change', '#SelectAll', function () {
        var checkStatus = this.checked;
        var checkbox = $(this).parents('.card-body').find('tr td input:checkbox');
        checkbox.each(function () {
            this.checked = checkStatus;
            if (this.checked) {
                checkbox.attr('selected', 'checked');
            } else {
                checkbox.attr('selected', '');
            }
        });
    });

    $('body').on('click', '#btnDeleteAll', function (e) {
        e.preventDefault();
        var str = "";
        var checkbox = $(this).parents('.card').find('tr td input:checkbox');
        var i = 0;
        checkbox.each(function () {
            if (this.checked) {
                checkbox.attr('selected', 'checked');
                var _id = $(this).val();
                if (i === 0) {
                    str += _id;
                } else {
                    str += "," + _id;
                }
                i++;
            } else {
                checkbox.attr('selected', '');
            }
        });
        if (str.length > 0) {
            var conf = confirm('Bạn có muốn xóa các bản ghi này không ?');
            if (conf === true) {
                $.ajax({
                    url: '/Donation/DeleteAll',
                    type: 'POST',
                    data: { ids: str },
                    success: function (rs) {
                        if (rs.success) {
                            location.reload();
                        }
                    }
                });
            }
        }
    });

</script>