@model Pagoda.Models.PrayFamily

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <hr />

    <fieldset>
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-bold mb-2">Họ Tên Thành Viên</div>
                    @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control", placeholder = "Xin Mời Nhập Họ Tên" } })
                    @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 d-none">
                    <div class="text-bold mb-2">Thuộc Gia Đình</div>
                    @Html.EditorFor(model => model.FamilyID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FamilyID, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="row">
                <div class="col-md-6" style=" margin: 12px 0 12px 0;">
                    <div class="text-bold mb-2">Ngày Sinh</div>
                    @Html.EditorFor(model => model.BornDate, new { htmlAttributes = new { @class = "form-control", @id = "datepicker_bornDate", placeholder = "Xin Mời Nhập Ngày Tháng Năm Sinh" } })
                    @Html.ValidationMessageFor(model => model.BornDate, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6" style=" margin: 12px 0 12px 0;">
                    <div class="text-bold mb-2">Ngày Mất</div>

                    @Html.TextBoxFor(model => model.DieDate, new { @class = "form-control", @id = "datepicker_dieDate", placeholder = "Xin Mời Nhập Ngày Tháng Năm Mất" })

                    @Html.ValidationMessageFor(model => model.DieDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-6" style=" margin: 12px 0 12px 0;">
                    <div class="text-bold mb-2">Nơi Sinh</div>
                    @Html.EditorFor(model => model.WhereBorn, new { htmlAttributes = new { @class = "form-control", placeholder = "Xin Mời Nhập Nơi Sinh" } })
                    @Html.ValidationMessageFor(model => model.WhereBorn, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6" style=" margin: 12px 0 12px 0;">
                    <div class="text-bold mb-2">Nơi Mất</div>
                    @Html.EditorFor(model => model.WhereDie, new { htmlAttributes = new { @class = "form-control", placeholder = "Xin Mời Nhập Nơi Mất" } })
                    @Html.ValidationMessageFor(model => model.WhereDie, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="text-bold mb-2">Giới Tính</div>

                    @Html.DropDownListFor(model => model.Sex, new SelectList(new[] { new { Value = true, Text = "Nam" }, new { Value = false, Text = "Nữ" } }, "Value", "Text"), "Chọn Giới Tính", new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.Sex, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>

    </fieldset>

    <hr />
}

<div class="form-group mt-2">
    <div class="col-md-offset-2 col-md-10 text-right" style="margin-left: 114px;">
        <input type="button" value="Lưu" onclick="SavePrayFamily()" class="btn btn-danger" />
    </div>
</div>

<style>
    .ui-datepicker-month,
    .ui-datepicker-year {
        border-radius: 8px;
        padding: 1px;
        width: 91px !important;
    }

    .ui-datepicker-year {
        max-height: 200px;
        overflow-y: auto;
    }

    .ui-datepicker-month {
        margin-right: 8px !important;
    }
</style>


<link href="@Url.Content("~/Content/Clients/plugins/jquery-ui/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Content/Clients/plugins/jquery-ui/jquery-ui.min.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $.datepicker.setDefaults($.datepicker.regional['vi']);
        $("#datepicker_bornDate").datepicker({
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true,
            minDate: new Date(1950, 0, 1),
            maxDate: new Date(2050, 11, 31),
            dayNamesMin: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
            dayNames: ['Chủ nhật', 'Thứ hai', 'Thứ ba', 'Thứ tư', 'Thứ năm', 'Thứ sáu', 'Thứ bảy'],
            monthNames: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
            monthNamesShort: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12']
        });

        $("#datepicker_dieDate").datepicker({
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true,
            minDate: new Date(1950, 0, 1),
            maxDate: new Date(2050, 11, 31),
            dayNamesMin: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
            dayNames: ['Chủ nhật', 'Thứ hai', 'Thứ ba', 'Thứ tư', 'Thứ năm', 'Thứ sáu', 'Thứ bảy'],
            monthNames: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
            monthNamesShort: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12']

        });
    });

    function SavePrayFamily() {
        var FullName = $("#FullName").val();
        var FamilyID = $("#FamilyID").val();
        var Sex = $("#Sex").val();
        var AgeLived = $("#AgeLived").val();
        var BornDate = $("#datepicker_bornDate").datepicker("getDate");
        var WhereBorn = $("#WhereBorn").val();
        var WhereDie = $("#WhereDie").val();
        var DieDate = $("#datepicker_dieDate").datepicker("getDate");

        var formattedDieDate = DieDate.getFullYear() + '-' + (DieDate.getMonth() + 1).toString().padStart(2, '0') + '-' + DieDate.getDate().toString().padStart(2, '0');

        var formattedBornDate = BornDate.getFullYear() + '-' + (BornDate.getMonth() + 1).toString().padStart(2, '0') + '-' + BornDate.getDate().toString().padStart(2, '0');

        var PrayFamily = {
            "FullName": FullName,
            "FamilyID": FamilyID,
            "Sex": Sex,
            "AgeLived": AgeLived,
            "BornDate": formattedBornDate,
            "WhereBorn": WhereBorn,
            "DieDate": formattedDieDate,
            "WhereDie": WhereDie,
        };

        $.post("/PrayFamily/Create", PrayFamily,
            function (data) {
                if (data.success) {
                    window.location.href = "/PrayFamily/?FamilyID=" + FamilyID;
                } else {
                    alert(data.message);
                }
            }, 'json');
    }
</script>